# MySQL Kernel Tutorial

## Set up a connection

In [2]:
mysql://student:student@localhost:3306

In [2]:
show databases;

In [8]:
use 4iz562;

## Metadata Check

In [4]:
show tables;

,Tables_in_4iz562
0,DQM_MDR
1,LOV_ADDR_TYPE
2,LOV_CONT_TYPE
3,LOV_COUNTRY
4,LOV_ESA95
5,LOV_GENDER
6,LOV_OKEC
7,LOV_PARTY_TYPE
8,LOV_PMT_FREQ
9,LOV_PRODUCT_CAT
10,PARTY_ADDRESS
11,PARTY_CONTACT
12,PART_PARTY
13,PRODUCT_CATALOGUE
14,PROD_CONTRACT
15,REF_CALENDAR
16,REF_FNAME
17,REF_LNAME
18,REF_NACE
19,REF_PARTY_CREGNUM
20,REF_TITAFT
21,REF_TITBEF
22,REF_UIRADR_ADRESA
23,REF_UIRADR_COBCE
24,REF_UIRADR_MCAST
25,REF_UIRADR_MERGED
26,REF_UIRADR_OBEC
27,REF_UIRADR_OBJEKT
28,REF_UIRADR_ULICE
29,REF_UIRADR_VAZBA
30,REF_UIRDADR_POSTA

In [5]:
describe table PART_PARTY;

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,PART_PARTY,None,ALL,None,None,None,None,383131,100.0,None

In [5]:
describe PART_PARTY;

,Field,Type,Null,Key,Default,Extra
0,PARTY_ID,bigint,NO,PRI,None,auto_increment
1,PARTY_TYPE,char(1),YES,,None,
2,PARTY_FNAME,varchar(45),YES,,None,
3,PARTY_LNAME,varchar(60),YES,,None,
4,PARTY_NAME,varchar(255),NO,,None,
5,PARTY_FORM,smallint,YES,,None,
6,PARTY_CREGNUM,varchar(8),YES,,None,
7,PARTY_RC,varchar(10),YES,,None,
8,PARTY_COUNTRY,char(3),YES,,None,
9,PARTY_POFBIRTH,varchar(45),YES,,None,
10,PARTY_AGE,int,YES,,None,
11,PARTY_GENDER,char(1),YES,,None,
12,PARTY_DOFBIRTH,date,YES,,None,
13,PARTY_TITBEF,varchar(10),YES,,None,
14,PARTY_TITAFT,varchar(10),YES,,None,
15,PARTY_ESA95,int,YES,,None,
16,PARTY_OKEC,char(4),YES,,None,
17,PARTY_SINCE,date,YES,,None,
18,PARTY_RC_FLAG,smallint,NO,,None,

In [15]:
drop table if exists DQM_MDR;

create table DQM_MDR as  
select 
table_schema,
table_name,
column_name, 
column_default,
data_type,
column_type,
collation_name,
column_comment
from information_schema.columns 
where table_schema='4iz562' 
order by table_schema, table_name, ordinal_position;

In [17]:
select * from DQM_MDR limit 0,10;

,TABLE_SCHEMA,TABLE_NAME,COLUMN_NAME,COLUMN_DEFAULT,DATA_TYPE,COLUMN_TYPE,COLLATION_NAME,COLUMN_COMMENT
0,4iz562,DQM_MDR,TABLE_SCHEMA,None,varchar,varchar(64),utf8_bin,
1,4iz562,DQM_MDR,TABLE_NAME,None,varchar,varchar(64),utf8_bin,
2,4iz562,DQM_MDR,COLUMN_NAME,None,varchar,varchar(64),utf8_tolower_ci,
3,4iz562,DQM_MDR,COLUMN_DEFAULT,None,text,text,utf8_bin,
4,4iz562,DQM_MDR,DATA_TYPE,None,longtext,longtext,utf8_bin,
5,4iz562,DQM_MDR,COLUMN_TYPE,None,mediumtext,mediumtext,utf8_bin,
6,4iz562,DQM_MDR,COLLATION_NAME,None,varchar,varchar(64),utf8_general_ci,
7,4iz562,DQM_MDR,COLUMN_COMMENT,None,text,text,utf8_bin,
8,4iz562,LOV_ADDR_TYPE,CODE,None,char,char(1),utf8_czech_ci,
9,4iz562,LOV_ADDR_TYPE,VALUE,None,varchar,varchar(45),utf8_czech_ci,

## Basic SELECT Syntax

SELECT
[ALL | DISTINCT | DISTINCTROW ]
select_expr [, select_expr ...]
[FROM table_references [PARTITION partition_list]
[WHERE where_condition]
[GROUP BY {col_name | expr | position}
[ASC | DESC], ... [WITH ROLLUP]]
[HAVING where_condition]
[ORDER BY {col_name | expr | position}
[ASC | DESC], ...]
[LIMIT {[offset,] row_count | row_count OFFSET offset}]

## Check Processes and Kill

In [18]:
show processlist;

,Id,User,Host,db,Command,Time,State,Info
0,5,event_scheduler,localhost,None,Daemon,8618,Waiting on empty queue,None
1,24,student,localhost:46172,4iz562,Sleep,1463,,None
2,25,student,localhost:46174,4iz562,Sleep,6448,,None
3,26,student,localhost:46176,4iz562,Query,0,init,show processlist
4,27,student,localhost:46178,None,Sleep,1052,,None
5,28,student,localhost:46180,None,Sleep,508,,None
6,29,student,localhost:46182,4iz562,Sleep,515,,None

In [19]:
kill 25;

In [37]:
SELECT 
conn_id, 
current_memory, 
state, 
time, 
current_statement, 
progress 
FROM sys.processlist 
where db = '4iz562';

,conn_id,current_memory,state,time,current_statement,progress
0,24,560.02 KiB,None,2969,None,None
1,29,184.29 KiB,None,2021,None,None
2,26,1.60 MiB,None,0,"SELECT conn_id, current_memo ... where db = '4iz562' limit 1000",None

## Simple Data Validation

In [6]:
select PARTY_TYPE, count(*) as FREQ from PART_PARTY group by 1;

,PARTY_TYPE,FREQ
0,P,263783
1,C,119348

In [7]:
select
a.PARTY_GENDER,
case
when b.VALUE is not null then 'T'
else 'F'
end as FLAG,
count(*) as FREQ
from PART_PARTY as a
left outer join LOV_GENDER as b
on(a.PARTY_GENDER = b.CODE)
where a.PARTY_TYPE = 'P'
group by 1,2;

,PARTY_GENDER,FLAG,FREQ
0,F,T,150905
1,M,T,107550
2,None,F,5328

In [15]:
select count(*) from PART_PARTY
where trim(PARTY_TITBEF) not like "%%.%%"
and PARTY_TYPE = 'P' and PARTY_TITBEF is not null;

,count(*)
0,31087

## Useful Functions

* MIN(), MAX(), AVG()
* LOWER(), UPPER()
* MD5(), CRC32() SHA1(), SHA2()
* SOUNDEX()
* SUBSTR()
* REPLACE()
* RAND()
* LOCATE()
* LENGTH()
* CONCAT()
* COALESCE()
* TRIM()

In [16]:
select PARTY_FNAME, soundex(PARTY_FNAME)
from PART_PARTY limit 0,10;

,PARTY_FNAME,soundex(PARTY_FNAME)
0,ERDENETUYA,E6353
1,VALTER,V436
2,ELENA,E450
3,HASMIK,H252
4,LUISA,L200
5,ISABEL,I214
6,MICHELE,M240
7,THANH NGA,T520
8,MATYÁŠ JAN,M325
9,OKSANA IVANIVNA,O251515

In [21]:
set @str = 'David Pejcoch';

In [28]:
select
md5(@str),
crc32(@str),
sha1(@str),
sha2(@str, 224)
;

,md5(@str),crc32(@str),sha1(@str),"sha2(@str, 224)"
0,7fe03ebc0831724305405496b6697f0f,3454305632,0737210c6e85305f4b18ae0e205f6aedb90bc64f,d58ccac0718ebabfc658477f3b5c32a7deabc7d00cc240e1b4ae55bf

### Simple Matching (Hash) Codes

In [17]:
select md5(
    concat(
        trim(upper(coalesce(ADDR_CITY,'NA'))),'_',
        trim(upper(coalesce(ADDR_STREET,'NA'))),'_',
        trim(upper(coalesce(ADDR_NUM1,'NA'))),'_',
        trim(upper(coalesce(ADDR_NUM2,'NA')))
        )
    ) as HASH
    from PARTY_ADDRESS limit 0,5;

,HASH
0,3d36221cbddcdbfbdd01220ea3687378
1,d1761d821beac8f0e7804f804da4960a
2,0ceb36657218de6e4ffdda0a9b609713
3,7e0b853bc414a592a1bc874ab560f1c3
4,6122f589757b0b2da49f05d2e5ddb556

In [18]:
select crc32(
    concat(
        trim(upper(coalesce(ADDR_CITY,'NA'))),'_',
        trim(upper(coalesce(ADDR_STREET,'NA'))),'_',
        trim(upper(coalesce(ADDR_NUM1,'NA'))),'_',
        trim(upper(coalesce(ADDR_NUM2,'NA')))
        )
    ) as HASH
    from PARTY_ADDRESS limit 0,5;

,HASH
0,2208126848
1,342229502
2,1065591260
3,986208397
4,13838085

### An Example of Sampling: 10% Sample

In [65]:
explain
select
case when b.VALUE is not null then 'T' else 'F' end as flag,
count(*) as FREQ
from (
    select PARTY_FNAME from PART_PARTY where PARTY_TYPE = 'P' and rand() <= 0.1
    ) as a
left outer join REF_FNAME as b
on (trim(a.PARTY_FNAME) = trim(b.VALUE))
group by 1;

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,PART_PARTY,None,ALL,None,None,None,None,383131,68.85,Using where; Using temporary
1,1,SIMPLE,b,None,ALL,None,None,None,None,57137,100.00,Using where; Using join buffer (hash join)

In [66]:
show index from PART_PARTY;

,Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment,Visible,Expression
0,PART_PARTY,0,PRIMARY,1,PARTY_ID,A,383131,None,None,,BTREE,,,YES,None

In [67]:
show index from REF_FNAME;

,Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment,Visible,Expression
0,REF_FNAME,0,PRIMARY,1,CODE,A,57137,None,None,,BTREE,,,YES,None

In [56]:
alter table PART_PARTY add index(PARTY_FNAME);
alter table PART_PARTY add index(PARTY_TYPE);

In [57]:
alter table REF_FNAME add index(VALUE);

In [60]:
analyze table PART_PARTY update histogram on PARTY_TYPE, PARTY_FNAME;

,Table,Op,Msg_type,Msg_text
0,4iz562.PART_PARTY,histogram,status,Histogram statistics created for column 'PARTY_FNAME'.
1,4iz562.PART_PARTY,histogram,status,Histogram statistics created for column 'PARTY_TYPE'.

In [61]:
analyze table REF_FNAME update histogram on VALUE;

,Table,Op,Msg_type,Msg_text
0,4iz562.REF_FNAME,histogram,status,Histogram statistics created for column 'VALUE'.

In [62]:
show index from PART_PARTY;

,Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment,Visible,Expression
0,PART_PARTY,0,PRIMARY,1,PARTY_ID,A,383131,None,None,,BTREE,,,YES,None
1,PART_PARTY,1,PARTY_FNAME,1,PARTY_FNAME,A,4850,None,None,YES,BTREE,,,YES,None
2,PART_PARTY,1,PARTY_TYPE,1,PARTY_TYPE,A,2,None,None,YES,BTREE,,,YES,None

In [63]:
show index from REF_FNAME;

,Table,Non_unique,Key_name,Seq_in_index,Column_name,Collation,Cardinality,Sub_part,Packed,Null,Index_type,Comment,Index_comment,Visible,Expression
0,REF_FNAME,0,PRIMARY,1,CODE,A,57137,None,None,,BTREE,,,YES,None
1,REF_FNAME,1,VALUE,1,VALUE,A,57137,None,None,YES,BTREE,,,YES,None

In [64]:
explain
select
case when b.VALUE is not null then 'T' else 'F' end as flag,
count(*) as FREQ
from (
    select PARTY_FNAME from PART_PARTY where PARTY_TYPE = 'P' and rand() <= 0.1
    ) as a
left outer join REF_FNAME as b
on (trim(a.PARTY_FNAME) = trim(b.VALUE))
group by 1;

,id,select_type,table,partitions,type,possible_keys,key,key_len,ref,rows,filtered,Extra
0,1,SIMPLE,PART_PARTY,None,ref,PARTY_TYPE,PARTY_TYPE,4,const,264530,100.0,Using temporary
1,1,SIMPLE,b,None,index,VALUE,VALUE,138,None,57137,100.0,Using where; Using index; Using join buffer (hash join)

## Primary Key Candidates

In [68]:
select PARTY_ID, CONT_TYPE, count(*) 
from PARTY_CONTACT
group by 1,2
having count(*) > 1;

## Regular Expressions

.      Libovolný znak
[xyz]  Některý z množiny znaků obsahující x,y,z
[0-9]  Některý z intervalu 0 až 9
[^xyz] Žádný z množiny znaků obsahující x,y,z
*      Opakování znaku, např. [0-9]* je libovolně dlouhá posloupnost čísel
+      Alespoň jeden výskyt předchůdce
?      Nejvýše jeden výskyt předchůdce
^      Začátek řádku
$      Konec řádku
\<     Začátek slova
\>     Konec slova

In [32]:
select
case when trim(CONT_VALUE)
regexp '^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,24}$' = 1
then 'T' else 'F' end as FLAG,
count(*) as FREQ
from PARTY_CONTACT
where CONT_TYPE = 'E'
group by 1;

FLAG|FREQ  |
----+------+
T   |173163|
F   | 54990|